.pitch-card-container{
    *{
        user-select: none;
        -moz-user-select: none;
    }
    padding: 0 100vw;
    display: flex;
    align-items: center;
    overflow-x: visible !important;
    overflow-y: scroll;
    flex-direction: column;
    min-width: 600px;
    position: relative;
    height: 70vh;
}


