.pitch-card-container{
    *{
        user-select: none;
        -moz-user-select: none;
    }
    display: flex;
    justify-content: center;
    min-width: 200px;
    // max-width: 400px;
    position: relative;
    height: 70vh;
}

.next-container{
    cursor: pointer;
    position: relative;
    height: fit-content;
    opacity: 0;
}