$warning-red:#FFCEC6;
.warning{
    box-shadow: 0px 2px 5px #00000027;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    background-color:$warning-red;
    width: 80%;
    padding: 15px 15px;
    margin-bottom: 20px;
    i{
        margin-left: 9px;
        margin-right: 15px;;
    }
    *{
        color: black;
    }
}