/* Variable */
$blue: #247dec;
$dark-yellow: #ffbc00;
// $grey: #d2d8de;
$grey: #a9adb1;
$ball-length: 60px;
$button-width: 50px;
$button-height: 30px;
$toggle-diameter: 24px;
$button-toggle-offset: ($button-height - $toggle-diameter)/2;

@mixin btn-style($background-color, $border, $width) {
  background-color: $background-color;
  padding: 15px;
  justify-content: space-around;
  width: $width;
  margin-bottom: 20px;
  display: flex;
  border: $border;
  border-radius: 25px;
  box-shadow: 0px 3px 10px #00000015;
}

select {
  -webkit-appearance: none;
  background-color: white;
  color: $grey;
}

.active-title {
  color: $blue;
  border-bottom: solid $dark-yellow 2px;
}


#submit {
  cursor: pointer;
  box-shadow: 0px 5px 10px #0000004d;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(29, 253, 247, 0.5) 0%,
    rgba(158, 209, 144, 0.5) 52%,
    rgba(193, 197, 116, 0.5) 66%,
    rgba(252, 176, 69, 0.5) 90%
  );
  position: relative;
  top: 20px;
  width: $ball-length;
  height: $ball-length;
  border-radius: 50%;
  i {
    font-size: 20px;
    color: white;
  }
}

#dropdown {
  .fa-search {
    margin-right: 10px;
  }
  div {
    padding: 0px 5%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .search-district {
    select{
      margin-right: 5%;
      width: 45px;
    }
    padding: 0px 1%;
    div {
      margin: 0;
    }
    input {
      width: 50%;
    }
  }
  .name {
    width: 80%;
  }
  padding: 15px;
  width: 80%;
  border: $grey 1px solid;
  border-radius: 25px;
  height: 200px;
  overflow-y: scroll;
  position: relative;
  background-color: white;
}

.card {
  position: relative;
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  &:after {
    position: absolute;
    content: "";
    width: $ball-length + 30;
    height: $ball-length + 30;
    top: 100%;
    transform: translateY(-1 * $ball-length);
    border-radius: 50%;
    background-color: white;
  }

  .card-title {
    span {
      padding-bottom: 5px;
      font-size: 120%;
      font-weight: 700;
      letter-spacing: 4px;
      cursor: pointer;
    }
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .card-reminder {
      span {
        cursor: pointer;
        &:active {
          color: #d2d8de7c;
        }
      }
      display: flex;
      width: 80%;
      justify-content: flex-end;
    }
  }
}
