@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;700&display=swap");
*{
  padding: 0px;
  margin:0px;
}

body {
  position: relative;
  font-size: 13px;
  font-family: "Lato";
  font-weight: 300;
}

html, body {
  overflow-x: hidden;
}

button,
select,input {
  border: none;
  outline: none;
}